<tr>
    <td><%= trip.location_name %></td>
    <td><%= trip.destination_name %></td>
    <td><%= trip.status %></td>
    <td><%= trip.time_slot %></td>
    <td><%= trip.employee_name_id %></td>
    <th><%= link_to 'View', trip_path(trip.id) %></th>
</tr>
